body{
    background-color: white;
    color: black;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    border: none;
}

header{
    background-color: #800000;
    padding: 30px;
    font-size: 40px;
    color: white;
    text-shadow: 0 4px #800000;
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: auto;
}
  
  nav ul li a{
    background-color: white;
    border-radius: 24px;
    border:2px solid #a52a2a;
    font-size: 14px;
    color: #800000;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px #800000;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #800000;
    border-radius: 24px;
    border:none;
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px #800000;
    text-align-last: center;
  }
  
  nav li form{
    display: inline block
}
  
nav ul li a:active{
  background-color: #660000;
  box-shadow: 0 5px #1a0000;
  transform: translateY(4px);
}

#aluno{
    cursor: not-allowed;
    background-color: white;
    color: #a52a2a;
    border: 2px solid #a52a2a;
    border-radius: 24px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0 5px #800000;
    padding: 15px;
    font-weight: 500;
}

button{
    display: flex;
    text-align-last: center;
    background-color: #a52a2a;
    border-radius: 24px;
    border: 2px solid #a52a2a;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    box-shadow: 0 3px #800000;
}

#hrdiferent{
    opacity: 0;
}

fieldset{
    border: none;
}

legend{
    font-size: 30px;
}

#textname{
    border-radius: 4px;
    width: 300px;
    size: 300px;
    padding: 5px;
    border-color: grey;
}

select{
    border-radius: 4px;
    width: 310px;
    size: 300px;
    padding: 5px;
    border-color: grey;
    border-style: solid;
    box-shadow: 2px 1px;
}

textarea{
    border-radius: 4px;
    padding: 5px;
    border-color: grey;
    box-shadow: 2px 1px;
    width: 300px;
}

footer{
    padding-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #800000;
    text-align: center;
    
}
