body{
    background-color: #a52a2a;
    background-blend-mode: lighten;
   /* border-right: double 3px white;*/
   margin: auto;
   padding: 10px;
}

#lista{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 0px;
    
}

nav ul li {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: auto;
    
}

nav ul li a{
    background-color: #b30000;
    border:none;
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #800000;
    border:none;
    font-size: 14px;
    color: white;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
    text-align-last: center;
}
    
nav ul li a:active{
    background-color: #660000;
    transform: translateY(4px);
}

#aluno{
    cursor: not-allowed;
    background-color: #b30000;
    color: white;
    border: 2px solid #a52a2a;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px;
    font-weight: 500;
}

header{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 30px;
    text-shadow: 0 4px #800000;
}

article{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    flex: 2;
    text-shadow: 0 3px #800000;
    margin-top: 10px;
}

#sara{
    flex: 3;
    text-shadow: 0 3px #800000;
    margin: 10px;
    margin-top: 10px;
    
}

#hellen{
    flex: 4;
    text-shadow: 0 3px #800000;
    margin: auto;
    margin-top: 10px;
}

#aluno3{
    flex: 5;
    text-shadow: 0 3px #800000;
    
}

 section{
     display: flex;
     
 }

 footer{
     padding-top: 10px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: white;
     text-align: center;
     text-shadow: 0 3px #800000;

 }

 #alinhamento{
     width: 100%; 
    position: relative;
 }

 .divs{
     width: 25%;
     margin-top: 10px;
 }
   
